#canvas{
    border: 3px solid #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 500px;
    height: 700px; */
    background: gray;
    cursor: pointer;
}